[2021-02-10 23:35] BrodiePearson opened #4 "Schwartz inequalities sign and coefficient"
The current third-order fluxes of temperature and salinity flux (code linked below) are limited by the inequality
$\overline{w'w'\theta'}<=\sqrt{\sigma^2(1-\sigma)^3(w_u-w_d)^4(\theta_u-\theta_d)^2}$
Which I think is equivalent to
$\overline{w'w'\theta'}<=min[(\overline{w'\theta'})^2\overline{w'w'}, \quad \overline{\theta'\theta'}(\overline{w'w'})^2]$

However, [the appendix of this paper (Eq. A1)

[2021-02-18 18:12] vanroekel commented on #4
@BrodiePearson sorry for missing this for so long, I apparently don't get notifications even though it is my fork.  Anyway, I think you are definitely right.  I had started thinking about this w/ regard to w3, but agree this should be fixed here too.

[2021-02-18 18:17] vanroekel opened #5 "Transition to small w^2 regimes"
The model currently struggles massively when w2 becomes small.  This is mostly due to `tumd` terms which are defined as `tumd = wt/(Mc+1e-12)`.  When w2 goes to zero Mc goes to zero, this causes tumd to go to infinity and the model becomes unstable.  It makes me wonder how we should handle this case.  I see a couple solutions
1) we enforce a minimum in w3 (say 1e-8 or 1e-7)
2) we somehow transitio

[2021-02-18 18:21] vanroekel commented on #5
pinging @BrodiePearson, @qingli411,

[2021-02-18 21:39] BrodiePearson commented on #5
@vanroekel Where does the model typically encounter these small w2 values, is it at the entraining interface, at the surface, or somewhere else? And does your first suggestion refer to setting a minimum value for w2 or for w3?

If the problem is at the interfaces then I might interpret that as the regions where local (sub-plume-scale) processes dominate mixing so the plume formulation is not suita

[2021-02-18 22:05] vanroekel commented on #5
@BrodiePearson interesting way to think about this.  It makes sense to me.  To clarify, the min value is on w2 and is indeed at the entraining interface.

This makes me wonder though if we should for terms like
[code]
should also include a SPS contribution, i.e.
[code]
and in similar places in u2 and v2

[2021-02-18 22:06] vanroekel commented on #4
@BrodiePearson should the w2tCheck you propose be
[code]
I think we should pick up an extra sig*(1-sig) from the w2 and t2 terms in your equation above

[2021-02-18 22:10] BrodiePearson commented on #4
@vanroekel Yes you're right those extra terms are needed

[2021-02-19 01:27] BrodiePearson commented on #5
@vanroekel Is the code breaking because of the tumd (and sumd) source terms in the w2 equation that you posted or because of the wt budget terms which depend on tumd^2?

Since this is a plume-scale budget, I'm not convinced that sub-plume scale fluxes belong (but I'm still thinking about this). I'll take a more thorough look through the equations over the next few days and see if I spot anything.

[2021-02-19 04:44] vanroekel commented on #5
@BrodiePearson I'm not actually sure what the fundamental issue is with the code.  It has been very difficult to tease out.  But my feeling is that the model is struggling to handle situations were w3 is transitioning from slight positive values to negative values (as entrainment happens).  As it goes through zero, something is causing w2 to be zero at some layers, causing blow ups.  What I tend t

[2021-03-23 17:18] BrodiePearson opened #6 "Extend ADC closure to Craik-Leibovich system"
The ADC closure needs to be expanded to include surface wave effects (including Langmuir turbulence) through the Craik-Leibovich vortex force (and pressure modifications). This requires us to:

- [ ] Add a Stokes drift parameter that varies with depth (currently will be set to zero, in future will be fed into scheme)
- [ ] Add terms to plume second- and third-moment turbulence budgets that result

[2021-03-23 23:14] BrodiePearson opened #7 "Issues with transport terms in $\overline{w'w'w'}$ budget"
@vanroekel After talking Amrapalli today (I don't seem to be able to tag her; I'll email this as well) and reflecting/reading a bit, I have a potential suggestion for the transport term in the $\overline{w'w'w'}$ budget (apologies if you have already thought of this).

It seemed that the current issue is with the transport term in the $\overline{w'w'w'}$ budget:

$\frac{\partial \overline{w'w'w'}}

[2021-03-24 21:10] vanroekel opened #8 "strength of w'2 near the surface"
Currently, Amrapalli (@amrapallig) has found that w'2 in the first interface below the surface is too large, especially at high resolution.  Looking through data, it doesn't appear to be related to a bug, but of course can't discount this.  I wonder if this is related to missing the effect of "splat" events, where eddies are elongated into the horizontal, reducing w'2 -- see here as one example ht

[2021-03-24 21:13] vanroekel commented on #8
pinging @BrodiePearson and @qingli411 and @katsmith133 for thoughts

Also @amrapallig can you add figures to illustrate?

[2021-03-24 22:20] amrapallig commented on #8
![image](https://user-images.githubusercontent.com/47332195/112390627-340dec00-8cbc-11eb-864a-c536be6bb1cf.png)

It does not seem bug with w2 profile. With tuning and debugging I see a similar profile for level k=2 as shown in the figure. Temperature and heat fluxes are well captured.

[2021-03-25 16:46] qingli411 commented on #8
Perhaps we can tune `Cww_E` and `Cww_D`?

[2021-03-25 16:57] vanroekel commented on #8
Amrapalli tried that and it affects the entire OSBL.  This seems like we are missing something near the surface.

[2021-03-25 17:05] qingli411 commented on #8
I remember we were getting reasonably shaped w2 profile before (not sure how long ago), right? What was the change?

[2021-03-25 17:12] vanroekel commented on #8
that is a good point.  I wonder if this was back when we had the u2w and v2w terms active and spread near surface u2 and v2 to reduce that growth in w2?

[2021-03-25 17:37] amrapallig commented on #8
When w2 profile looked reasonable before few commits, w3 was way too big, skewness and area fraction was weird.  Clipping sigma helped with w2 profile but not with w3. For example, this attached plot. Here I had used config_adc_Cmom_w3 =0.01 to reduce w3. I had reduced w3tend4 by a factor of 10 to check different tend terms and their effects. I don't remember what u2w and v2w were doing. I have to

[2021-03-25 21:29] vanroekel commented on #8
so are you saying right answer (better w2) but the wrong reason?

[2021-03-25 23:17] BrodiePearson commented on #8
@vanroekel I agree this could be due to 'splat' events, but I couldn't spot a parameterization for this effect in the paper you mentioned.

I feel like this splat effect is analogous to some Langmuir turbulence work ([Harcourt 2015](https://journals.ametsoc.org/view/journals/phoc/45/1/jpo-d-14-0046.1.xml)) where Ramsey added a 'wall-effect' pressure term which extracts a fraction f(z) of the expli

[2021-03-26 03:53] vanroekel commented on #8
True, I could only find a paper describing the events.  The only parameterization I found was in CLUBB, in the source code only, with no refs, I'll paste here
[code]

This is an atmospheric model so rt and thl are the buoyancy components (total water and liquid water potential temp)

[2021-03-31 18:27] BrodiePearson opened #9 "Some small bugs/questions about second-moment budgets"
I've been going through the budget equations to match them with my Overleaf document and had three of questions/comments:

- [ ] It looks like the first part of the pressure closure in the u'w' and v'w' budgets is multiplied by an extra factor of a half, as the KE is defined with the factor of half already built in (see below). The factor of half outside makes sense to me, but I'm not sure where t

[2021-03-31 18:32] BrodiePearson commented on #9
@amrapallig @vanroekel @qingli411

[2021-03-31 18:45] vanroekel commented on #9
@BrodiePearson thanks for continuing to dig through.  I'll take a shot at your equation

1) you're right on that extra half, that shouldn't be there.  Previously I had defined the KE (L498-499) without the 0.5 but when I put it in I missed making that correction

2) Again right on.  The second derivative is wrong.  We never use this but would be important to fix.  It is something CLUBB developers

[2021-03-31 19:16] qingli411 commented on #9
[Here](https://github.com/qingli411/MPAS-Model/blob/addADCMixing/src/core_ocean/shared/mpas_ocn_adcReconstruct.F) is my branch of the code. I have changed the variable names so that the coefficients should be consistent with the Overleaf file. However, this branch was based on an earlier version of the code so a lot of the recent changes have not been merged in. So many of the issues we saw earlie

[2021-03-31 23:49] BrodiePearson commented on #9
@qingli411 Thanks for the link to your code and for adding the new constant names, I also like the commenting that you have added for budget terms etc. I agree that unifying these branches would be a good idea, especially as it will only get harder the longer we wait. I hope that it is not too challenging to do so now.

@vanroekel Thanks for your responses, I'm glad the comments were sensible. It

[2021-04-06 00:46] BrodiePearson opened #10 "Large-scale dissipation vs. entrainment question"
I have two questions about the large-scale dissipation rate ($\epsilon_{ls}$) in the current ADC code:

1. Why is $\epsilon_{ls}$ diagnosed using a [tendency equation](https://github.com/vanroekel/MPAS-Model/blob/4923b0e69f45bd72e7ee460abdf031669b003fc6/src/core_ocean/shared/mpas_ocn_adcReconstruct.F#L669-L677) (`epstend`) or through a simple [$\epsilon_{ls}\propto KE^{3/2}/L$ closure](https://git

[2021-04-06 01:09] BrodiePearson commented on #8
@vanroekel I was just diving further into the CLUBB parameterization and found the splat function calculation (the one you found was only the surface value of this term). It has a little bit more explanation in its foreword (if this version isn't accessible to you I had to sign up through [this website](https://carson.math.uwm.edu/larson-group/clubb_site/signup/)

https://github.com/larson-group/c

[2021-04-06 01:11] BrodiePearson commented on #10
@amrapallig @qingli411 Do you have any thoughts on this? I noticed that Qing's version of the code has removed the dissipation tendency equation so that it is always estimated using the TKE/length scale closure.

[2021-04-06 04:04] vanroekel commented on #10
So the u'2 and v'2 have been a tough one to think about for me.  It is not clear those quantities are plume scale quantities to me.  the MFC framework does not hold for momentum.  Also at plume scale I would expect w'2 >> u'2 or v'2.  I'm not sure we should cast dissipation as with the lateral entrainment detrainment terms.  In my mind those should be a traditional HOC formulation.  This is consis

[2021-05-21 17:17] katsmith133 commented on #7
I believe this issue was addressed in full by PR #11, but correct me if I am wrong. Shall we close it?

[2021-05-21 17:59] BrodiePearson commented on #7
I agree this is closed now!

[2021-05-21 17:59] #7 closed

[2021-05-21 19:12] vanroekel opened #12 "Consider adding splatting of eddies and boundary condition"
CLUBB includes an effect of 'splatting' of eddies near the surface and for stratocumulus inversions.  This terms looks like
[code]
there is a similar term for wp3

This term is then removed from wp2 and half is put to up2 and half to vp2

the relevant code for wp2 is
[code]

The code is identical for `wp3_splat` except the leading term is wp3.  In this code block, tau_zm is the turbulent time scal

[2021-05-21 19:15] vanroekel commented on #12
tagging @BrodiePearson @amrapallig @qingli411 @katsmith133

[2021-05-21 19:21] vanroekel commented on #12
BTW, for those interested here is the Andre et al 1978 paper -- https://journals.ametsoc.org/view/journals/atsc/35/10/1520-0469_1978_035_1861_mtheot_2_0_co_2.xml

[2021-05-21 19:23] vanroekel commented on #12
Interesting reading Andre et al 1978 again it appears they assume the lower boundary of their model is not z=0 but slightly above (in their case 1m).  This is an interesting way to get around the length scale -> 0 issue.  we basically assume the top of our closure is the bottom of the constant flux layer such that MOST applies but doesn't cause issues with being right at the surface.

[2021-05-21 19:42] vanroekel commented on #12
sorry to keep adding, but I note that CLUBB includes a minimum on the surface boundary condition of up2, vp2, and wp2.  Should we consider the same?

[2021-05-24 21:48] vanroekel commented on #12
All, I've updated the branch to include a splat parameterization.  I haven't fully tested it yet, but would be great if some of you took a look.

[2021-05-25 15:48] katsmith133 commented on #12
@vanroekel I ran a quick test of the changes you made and here is what I am getting for the cooling case (which crashes at 6 hours):
![Cooling2_lukes_splat_changes_f6edf05_1](https://user-images.githubusercontent.com/5370137/119525232-8e1e4280-bd3b-11eb-8981-f863b712742b.png)
![Cooling2_lukes_splat_changes_f6edf05_2](https://user-images.githubusercontent.com/5370137/119525258-91b1c980-bd3b-11eb-83

[2021-05-26 15:06] katsmith133 commented on #12
Ran the red line case again (splat param turned off) but with
`config_adc_bc_wstar = 0.5`
`config_adc_bc_const = 1.0`
`config_adc_bc_const_wp2 = 0.0`
and saw only a very small change from the red line results above. From that, I am thinking that the primary difference between the red lines and blues line above must be the wstar term. The current code takes the square root of the squared wstar, whe

[2021-05-26 15:19] vanroekel commented on #12
yep right on the money, a misplaced parenthesis in that boundary condition.  I'll fix it in a minute

[2021-05-26 15:24] vanroekel commented on #12
actually looking again the code is right.  If you look here
https://github.com/vanroekel/MPAS-Model/blob/ocean/addADCMixing/src/core_ocean/shared/mpas_ocn_adcReconstruct.F#L273-L275

The "frictionVelocity" is getting squared, so you end up with the bc in u2/v2/w2 of 1.8*(uwsfc+vwsfc + FACTOR*w*^2)

[2021-05-26 15:24] katsmith133 commented on #12
Also just realizing there are two factors multiplying `u2` and `v2`:
`(u2(k,1,iCell) = config_adc_up2_vp2_factor*config_adc_bc_const*frictionVelocity**2.0`
Is it necessary to have both? One is set to 4.0 and the other 1.8, by default.

[2021-05-26 15:25] vanroekel commented on #12
As to  your question, I'm not sure.  My intuition is we want different factors for u2/v2 and w2, but it is not clear what they should be.  That was a lift from the CLUBB code

[2021-05-26 15:27] katsmith133 commented on #12
Ah yes, I am seeing the squaring correctly now. Ok.

There is a different factor for `w2` as well: `w2(k,1,iCell) = config_adc_bc_const_wp2*frictionVelocity**2.0`. So there are three factors in total. Two on `u2` and `v2` that compound and one on `w2` that is different from the other two.

[2021-05-26 15:32] vanroekel commented on #12
yes, I added the wp2 one in case we wanted to turn that one off separately.  I think we should maintain two of them at least, but maybe not all three

[2021-05-26 15:37] katsmith133 commented on #12
Ok, I think I forgot/overlooked `config_adc_up2_vp2_factor` when I ran the last set of runs, and it was set to 4.0, so I am checking to see if that is the difference. Though the difference between the blue line and the green/red lines seems to be much more than a factor of 4.0 at the surface for `u2` and `v2`... thoughts?

[2021-05-26 16:45] vanroekel commented on #12
Thinking about this more, I think that up2_vp2_factor is in the wrong place.  I think you should set that to 1.  Where it is now we end up have 1.2*wstar**2.  I think we should get rid of that and just have a u2/v2 and w2 factor to allow separate tunings.  I'll have to do that later today.

[2021-05-26 19:12] BrodiePearson commented on #12
@katsmith133 Did changing `config_adc_up2_vp2_factor` reduce u2 and v2 enough near the surface? Maybe the reason your surface values are more than 4 times larger with the current parameters is:
 `u2(k,1,iCell) = config_adc_up2_vp2_factor*config_adc_bc_const*frictionVelocity**2.0`
and
 `frictionVelocity = sqrt(config_adc_bc_wstar * wstar * wstar)`
so
 `u2(k,1,iCell) = 4*1.8*(0.3*wstar) = 2*wstar`

[2021-05-26 19:21] katsmith133 commented on #12
Its currently running, but yes, now that you point that out, that could be enough to account for the difference.

[2021-05-26 19:47] BrodiePearson commented on #12
@vanroekel Thanks for adding the splat option. I noticed that, since the tendency equations are only applied for k >= 2, the surface tendency term for w3 [w3tend6(1,:)] doesn't get used anywhere and the tendency for w2 [w2tend6(1,:)] only gets used [as a limiter for surface w2 ](https://github.com/vanroekel/MPAS-Model/blob/5dc8d6e40e31fb03492426e324d435637f6edf05/src/core_ocean/shared/mpas_ocn_adc

[2021-05-27 19:51] BrodiePearson opened #13 "Comparing $\overline{w'w'}$ and $\overline{w'w'w'}$ tendency terms between ADC and LES"
**This issue lists the ADC tendency terms for $\overline{w'w'}$ and $\overline{w'w'w'}$, and the analogous LES terms (where possible).**

One avenue for diagnosing the skill of the ADC closure scheme is to compare whether the tendency terms in the scheme are comparable to LES data. The tendency terms in the ADC and LES schemes represent similar physical processes, but because the ADC scheme has cl

[2021-05-27 20:42] katsmith133 commented on #12
Here are the results we talked about yesterday:
![Cooling2_hour82_splat_vs_nosplat_1](https://user-images.githubusercontent.com/5370137/119892788-c9fe0700-bef7-11eb-944d-11e13410d37a.png)
![Cooling2_hour82_splat_vs_nosplat_2](https://user-images.githubusercontent.com/5370137/119892801-cd918e00-bef7-11eb-97d0-fda2a54caf7c.png)
All three ADC runs are done with commit 5dc8d6e and the following parame

[2021-05-27 20:48] BrodiePearson commented on #13
@katsmith133 Let me know if you spot anything that's incorrect or doesn't make sense!

[2021-05-27 21:04] katsmith133 opened #14 "Removing compounding factors on u2/v2 boundary conditions in ADC"
Happy to do this PR, but just want to make sure which one we want to remove...
`config_adc_up2_vp2_factor` is only used on u2 and v2:
https://github.com/vanroekel/MPAS-Model/blob/5dc8d6e40e31fb03492426e324d435637f6edf05/src/core_ocean/shared/mpas_ocn_adcReconstruct.F#L273-L274
`config_adc_bc_const` is used on u2, v2, tp2, and sp2:
https://github.com/vanroekel/MPAS-Model/blob/5dc8d6e40e31fb03492426

[2021-05-27 22:13] BrodiePearson commented on #12
@katsmith133 I agree with the points you made. For me the most surprising things are:
- **u2 and v2 are decreased with splat on!** Which you pointed out. I assumed they would increase because their only source is conversion from w2, and splat should only increase that conversion rate. Something strange must be happening. I can't see any obvious bugs in the splat code.
- **The splat on & w2 BC off

[2021-06-01 19:20] vanroekel commented on #12
@BrodiePearson and @katsmith133 I've finally returned to this.  I just have spent some time looking at the code and do think there is a bug in the current implementation.  The parameterization is keyed on this term `d(sqrt(w'^2))/dz` which when we near the ground for the atmosphere case will be a positive quantity.  Later the full tendency is basically `-w'^2*d(sqrt(w'^2))/dz` which is a sink for

[2021-06-01 20:45] BrodiePearson commented on #12
@vanroekel The derivative term appears to be squared,
https://github.com/vanroekel/MPAS-Model/blob/5dc8d6e40e31fb03492426e324d435637f6edf05/src/core_ocean/shared/mpas_ocn_adcReconstruct.F#L294-L295
so I don't think the sign matters (this also means it should act the same way at both the bottom and top of the OSBL)

[2021-06-01 20:53] vanroekel commented on #12
oops, you're right.  I missed the latter bit.

[2021-06-01 21:12] BrodiePearson commented on #14
If we are following the Andre et al. (1978) paper that Luke linked to in the other thread we should use `config_adc_bc_const` for both, as the second-order tracer moments should have the same coefficient as u2 and v2 vs. $u_{star}^2$ (***but not $w_{star}^2$***). But...
- That paper doesn't have a coefficient of 0.4 out the front of tp2 and sp2. (Should we remove it?)
- That paper relates tp2 and

[2021-06-01 21:59] BrodiePearson opened #15 "Pressure closure constants need to be made consistent with documentation"
The current model uses a mix of conventions for naming the closure constants that arise from the pressure terms in second- and third-moment budgets. ***We need to make these constants consistent with our documentation on Overleaf.***

The choice of constants in the documentation are designed to be clearer, more consistent across different physical pressure terms, and trivial to expand for the effe

[2021-06-01 22:05] BrodiePearson opened #16 "Add comments for coded tendency terms to aid interpretation"
The current tendency terms are decomposed into various terms that arise from a range of physical processes, e.g. https://github.com/vanroekel/MPAS-Model/blob/5dc8d6e40e31fb03492426e324d435637f6edf05/src/core_ocean/shared/mpas_ocn_adcReconstruct.F#L565-L569
Because these budgets involve several closure assumptions, the physical meaning of each of these tendency terms is not always obvious. We shoul

[2021-06-01 22:16] katsmith133 commented on #12
@BrodiePearson, to answer your question:
The error message when the splat on/ w2 BC off crashes at 6 hours is _CRITICAL ERROR: ERROR: wt out of range, wt = 1.70787878499823_ and here are the plots at the last time step before it crashes:
![Cooling2_hour6_splat_on_w2BC_off](https://user-images.githubusercontent.com/5370137/120395335-12e7fe00-c2f2-11eb-882c-e46933179146.png)
**My observations:** All

[2021-06-02 17:42] katsmith133 commented on #13
@BrodiePearson, I believe I've got correct terms plotted (splatting terms are left out for now as I am comparing to a non-splatting ADC run, the "no-splat, w2 BC off" run at 82 hours in):
![Cooling2_hour82_nosplat_tendency_terms](https://user-images.githubusercontent.com/5370137/120526324-4e3c0880-c396-11eb-91fa-b616421397f4.png)
Note: for the w2tend1 + w2tend_pressure term, the `-2*<w'*dp'/dz>` t

[2021-06-02 18:16] BrodiePearson commented on #15
For my future reference the process for adding/modifying the parameters of the scheme is (example uses existing parameter `c_2`):

1. Add the new parameter to `mpas_ocn_turbulence.F` (in this case `c_2`), and connect it to the chosen namelist variable (`config_adc_c2 `) https://github.com/vanroekel/MPAS-Model/blob/5dc8d6e40e31fb03492426e324d435637f6edf05/src/core_ocean/shared/mpas_ocn_turbulence.F

[2021-06-02 20:54] BrodiePearson commented on #13
@katsmith133 These are interesting comparisons. I agree this we should discuss this today

[2021-06-02 21:42] amrapallig commented on #13
LES c2 case:
![image](https://user-images.githubusercontent.com/47332195/120555979-b7c91080-c3b0-11eb-8e15-c80a9b2eaaf0.png)

[2021-06-03 00:01] BrodiePearson commented on #15
Constants that are to be added to scheme and the ones they replace `ADC code parameter (namelist parameter)`:
- [ ] `C_2 (config_adc_c2)` and `[1-beta5] (config_adc_beta5)` $\rightarrow$ `C_b (config_adc_c_b)`
- [ ] `alpha1 & alpha2` (no namelist parameters) $\rightarrow$ `alpha_1 & alpha_2 (config_adc_alpha_1, config_adc_alpha_2)` (**Why are w't' production terms zeroed?**)
- [ ] `gamma1 (config_

[2021-06-03 16:27] katsmith133 commented on #13
@BrodiePearson and @amrapallig, per our discussion yesterday, here is the comparisons for the various terms that go into the w2t term that is used in calculating w3tend5:
![Coooling2_hour82_nosplat_w3tend5_term_breakdown](https://user-images.githubusercontent.com/5370137/120677150-07144d00-c454-11eb-9298-c66893d8eb68.png)

**w2t panel**: _black line_ - diagnosed from LES data as `<w'w't'>`, _blue

[2021-06-04 15:53] katsmith133 commented on #14
@BrodiePearson
 - Andre et al. (1978) does not have this extra coefficient, but the CLUBB implementation that Luke pulled it from does. Not sure where that 0.4 comes from for CLUBB. Perhaps its atmospheric related (?).
 - Again, Andre et al. (1978) does not include the `wstar^2` in the tp2 and sp2 term, but the CLUBB implementation does. And again, not sure what the motivation was.
 - I tested thi

[2021-06-07 03:30] vanroekel commented on #15
addressed by #17

[2021-06-07 03:30] #15 closed

[2021-06-07 03:31] vanroekel commented on #16
@BrodiePearson are you able to address this?  I think it would be good to have.  Note that the terms are somewhat explained in the adc registry file.

[2021-06-07 18:05] BrodiePearson commented on #16
@vanroekel Yes, and I had not noticed their registry appearance so thanks for that! I'll try and do this in the next few days. I do have a question:

@katsmith133 & I discussed re-arranging/naming the tendency terms based on their physics (i.e. `w2tend_entrain`, `w2tend_transport`, `w2tend_buoyancy`, `w2tend_pressure_isotropy/w2tend_pressure_slow`, `w2tend_pressure_shear/w2tend_pressure_rapid`, `w

[2021-06-08 02:10] BrodiePearson opened #18 "Results should not be sensitive to choice of budget decomposition"
**I think the results of the ADC closure are quite sensitive to how we decompose the tendency equations! (possibly due to rounding errors?)**

I was playing around with the w2 budget, and found that simply combining two tendency terms led to significant differences in final simulated profiles. In this case I ran two simulations where I either left the return to isotropy and buoyancy terms separate

[2021-06-08 02:11] BrodiePearson commented on #16
I'm going to hold off on this issue until we figure out #18

[2021-06-08 03:31] vanroekel commented on #18
@BrodiePearson this is very odd indeed.  can you post your namelist and the configuration parameters for the init step?  It seems highly unlikely this is truncation error.  If you can share the setup I'll try run this.

[2021-06-08 04:36] BrodiePearson commented on #18
@vanroekel I've attached the folder that I'm using. It should be identical to the one that you originally sent me, with modifications to work for the new set of constants. I hadn't created any other examples yet, so I would be interested to know if these differences are (a) an error on my part, or (b) only specific to this case.
[cvmix_test_conv2_new_constants.zip](https://github.com/vanroekel/MPA

[2021-06-08 14:44] katsmith133 commented on #18
@BrodiePearson and @vanroekel
For me, combining those two terms does not seem to cause the same issue, even after 82 hours...
![Cooling2_PR18check_combined_terms](https://user-images.githubusercontent.com/5370137/121205997-56cc8d00-c835-11eb-8fcc-628f40f84f53.png)
_Note: The difference in the w2tend1 + w2tend_pressure term is to be expected as it involves w2ten3 and t2tend4._

...at least not for

[2021-06-08 15:32] katsmith133 commented on #18
Using Brodie's namelist, I get the following after 24 hours:
![Cooling2_PR18check_combined_terms_brodie_params](https://user-images.githubusercontent.com/5370137/121212248-68646380-c83a-11eb-862b-1edc1c4f4ff5.png)

It does appear that combining the two terms does change the w2 and w3 profiles slightly with Brodie's namelist parameter values (note: I used my init and forcing files, so it is not exp

[2021-06-08 16:04] vanroekel commented on #18
Thanks @katsmith133 a few questions
1. are you using the same code for both runs?
2. Do you have any ideas what parameter is the key here?  none of them really make sense to me as tripping this issue.  The most likely to me would be Cmom, Ctherm or config_dt.  I'll try test as well.

[2021-06-08 16:15] katsmith133 commented on #18
@vanroekel
1. I assume we are in as far as I am using the most recent version of the code on Github and made only that small same change as Brodie showed before. But I am not using the same executable, no. I can try that.
2. Agreed. I do not know which one it is, but would assume at first it is one of those you mentioned. I can change each one in turn and see which one(s) it is.

[2021-06-08 17:26] vanroekel commented on #18
In my testing I see the same as @BrodiePearson even with `config_dt = 00:00:01` so that is not the issue.  If I reenable Cmom and Ctherm the diffs are much smaller (1E-17), but the model crashes 6 hours in.  It makes no sense to me why disabling Cmom/Ctherm exposes this issue.  I'll try look through the code some more.

[2021-06-08 18:07] BrodiePearson commented on #18
@vanroekel @katsmith133 Thanks for both taking a look. I followed Kat's  lead and found that her setup gave me very small differences in the final w2 profiles (~1e-21; we might expect this from small truncation differences between combining the terms or calculating them separately right?). **It looks to me like `config_adc_bc_const_wp2` is probably the main issue** (amplifies this error?). I can r

[2021-06-08 18:57] vanroekel commented on #18
Hey all, just an update.  If I do `config_adc_bc_const_wp2 = 0.0` and `config_use_splat_parameterization = .false.`. the two options listed here are BFB (diff is hard zero). This is starting to have the feel of a memory index issue to me.  I'll keep looking.

[2021-06-08 19:26] BrodiePearson commented on #18
Hmmm. I just looked at the w2tend6 (splat) term and noticed there is a typo in the allocation code:
https://github.com/vanroekel/MPAS-Model/blob/103e68e300b7eb1fe27334e64fb2e402d9bd8b13/src/core_ocean/shared/mpas_ocn_turbulence.F#L380
and it is not deallocated:
https://github.com/vanroekel/MPAS-Model/blob/103e68e300b7eb1fe27334e64fb2e402d9bd8b13/src/core_ocean/shared/mpas_ocn_vmix_adc.F#L532

Coul

[2021-06-08 19:28] vanroekel commented on #18
Hah, just found that too!  I'm testing if this is the problem.  The deallocate won't matter, but the other might.  I'm a bit doubtful though given it only influences splat, but I'll let you know.

[2021-06-08 19:31] vanroekel commented on #18
unfortunately that wasn't it.  Did not change my results.  Important to fix though.  Thanks for pointing that out.

[2021-06-08 23:14] katsmith133 commented on #18
@BrodiePearson and @vanroekel
I was curious and went back to commit 3ade082 (prior to splat being added) to see if this issue pre-dated that. If I just use the code where it is at for commit 3ade082, there is no difference between combining the terms or leaving them separate. However, when I add in a w2 BC similar to what was added in the splat commit:
![Screen Shot 2021-06-08 at 5 09 45 PM](https

[2021-06-09 19:19] vanroekel commented on #18
I have been looking at this some more, and did find something interesting.  The nonBFB nature seems to stem initially from the wumd calculation
https://github.com/vanroekel/MPAS-Model/blob/ocean/addADCMixing/src/core_ocean/shared/mpas_ocn_adcReconstruct.F#L386-L387
if I remove the sqrt calculation I get the BFB behavior back even with a splat-like BC in w2.  Using python, with a few more digits it

[2021-06-09 22:36] katsmith133 commented on #18
@vanroekel when you say that you remove the sqrt calculation, do you mean you've replaced the sqrt function with ()**0.5 or just removed the square-rooting all together?

I found that if I replaced the sqrt function with ()**0.5, I still get the same issue... meaning it's not a rounding issue inherent to the sqrt function.
I also tried to just remove the square-rooting all together from that term,

[2021-06-10 04:09] vanroekel commented on #18
yes exactly right, remove the sqrt function.  The diffs all go away.  But It shouldn't work for long as the units are incorrect.  I only ran for 1 minute, i'm not surprised it crashes quickly.

[2021-06-10 21:57] vanroekel commented on #18
Okay, I "may" have a good solution for this issue.  I'm still working on a few more tests.  Once I do those and clean up I'll write more about what I did and post a fix.  But in quick summary it is related to the loop around w2t and w2s assignment.  My reproducer is fixed with my changes, just trying to understand what change fixed things.

[2021-06-11 13:30] vanroekel commented on #18
Well I found the critical switch to "fix" this, but I don't like it...  If you change the sign of this line

https://github.com/vanroekel/MPAS-Model/blob/ocean/addADCMixing/src/core_ocean/shared/mpas_ocn_adcReconstruct.F#L266

The problem is fixed.  This makes no sense to me.  Could one of you try change that sign too and see if the problem disappears?  I'd appreciate any thoughts you have on poss

[2021-06-11 16:59] katsmith133 commented on #18
@vanroekel I changed the sign of that term and the issue did not disappear for me. Not sure if that is because of different parameters or not, but I still see a difference. Not sure if this helps, but I also tried just setting that term to zero, as the LES for the cooling case implied w2t should be zero at the surface, and the problem still occurs.

[2021-06-11 17:03] BrodiePearson commented on #18
Nice find! I won't be able to test this until I'm back home this afternoon.

I think this change makes sense physically (but I don't understand why it caused this issue). If we assume a basic down-gradient formulation for this term:
$\overline{w'w'T'} = -\kappa \frac{\partial \overline{w'T'}}{\partial z}$
In scenarios where $\overline{w'T'}$ is positive at the surface, this flux will decrease with

[2021-06-11 17:13] vanroekel commented on #18
@katsmith133 interesting.  I wonder what else I changed.  It is definitely gone for me.  But maybe I don't run long enough?  How long until you check?  I also have a tone of other changes I made to try fix this, perhaps it is the sum of all of them.

@BrodiePearson even if it makes physical sense to change the sign, I'm very concerned that in my code/test at least having w2t less than some critica

[2021-06-11 17:24] katsmith133 commented on #18
@vanroekel I checked at 12 hours. The differences at 1 hour are pretty small (1e-24), but by 12 hours its on the order of 1e-7 for u2, v2, and w2 and 5e-3 for temperature.

I'm going to just check again, just to make sure...

[2021-06-11 17:27] vanroekel commented on #18
Okay, that could be it.  But I will say with the sign as is the diff in w2 was that small you show (at 1 hour), but gone (hard zero) if I flip the sign.  I'm going to keep on with these tests and hope that if I can get rid of that diff the longer term results will be the same too, we'll see!

[2021-06-11 17:38] katsmith133 commented on #18
@vanroekel Sounds good. FYI, I have the changes in #19 implemented in my code. I don't think that should influence this, as my tests showed those changes had no effect on this issue, but just so you know.

Also, I ran Valgrind on the code and there are lots of memory leaks throughout MPAS-O, mostly to do with not deallocating pools I think, but nothing specifically in the ADC code was throwing err

[2021-06-11 20:02] vanroekel commented on #18
@katsmith133 thanks for the update and thanks for checking valgrind, that's very good to know.  I've been continuing to play with this and unfortunately haven't made progress.  I need to put this aside for a bit, but have pushed my test branch to a new branch -- `https://github.com/vanroekel/MPAS-Model/tree/ocean/adcTestBranch` if you wanted to take a look and keep playing, I'd appreciate it.  I s

[2021-06-11 20:37] katsmith133 commented on #18
@vanroekel Yup, I'll keep playing with it

[2021-06-14 18:05] vanroekel commented on #18
@katsmith133 and @BrodiePearson an update: it turns out the closure is sensitive to combining terms in w3, w2, or wt, the pattern of difference is interestingly the same for w3 and wt.  I've also tried setting things constant in the vertical to find the issue.  The only thing that fixes it is setting w2 to a constant in time and space.  Not clear what any of this means yet, but still poking at it

[2021-06-14 21:41] katsmith133 commented on #18
@vanroekel and @BrodiePearson I am attempting to go back to different commits to see when this issue began. I'm thinking that might give us an idea of what's causing it...?

[2021-06-14 22:42] BrodiePearson commented on #18
@katsmith133 If you can figure out a commit that would be helpful! Although I am worried this issue may exist from the beginning/very early on (comparing different formulations of the budgets is not a standard test for the code)

[2021-06-15 03:17] vanroekel commented on #18
@katsmith133 I fully agree with @BrodiePearson it would be wonderful to pin this to a commit, but worry greatly this issue has been around forever.

I never would have thought to test this to even add a test, it is so weird...

[2021-06-16 18:11] katsmith133 commented on #18
@vanroekel and @BrodiePearson Updates:

- This issue exists in Qing's branch as well... here are differences between a run with w2tend3/4 separated and combined after 56 hours:
![Diff_QingsBranch_hour56](https://user-images.githubusercontent.com/5370137/122269952-0be8f000-ce9b-11eb-8995-9c0eba269566.png)
I thought perhaps some of his clean up might have accidentally fixed this issue, but no such l

[2021-06-16 18:14] vanroekel commented on #18
Thanks for the update @katsmith133 it is indeed good to cross these off the list.  I agree it is not beneficial to keep going backward in commits.

I'm still working on this too, don't have anything definitive yet, but think I am making progress.

[2021-06-17 04:55] vanroekel commented on #18
@katsmith133 and @BrodiePearson  I've added the rounding and it fixes the issue in my very short tests.  Can you pick up the ocean/adcTestBranch and try it in your longer tests?  A few notes
1. I have helper flags to do the combining so you don't have to rebuild, `combine_w2`, `combine_w3`, and `combine_wt` will pull together two terms for testing.
2. I've made a ton of other changes in the proces

[2021-06-17 20:40] katsmith133 commented on #18
@vanroekel and @BrodiePearson Ok, after some testing, I've found that this solution works so long as you set the rounding to the correct decimal. Using 1e16 saves too many digits and the garbage digits end up amplifying, making the problem worse than before. Using 1e12 instead produces very similar profiles to before the rounding, but also produces BFB matching when tendency terms are kept seperat

[2021-07-13 18:55] katsmith133 opened #22 "Mean velocity profiles in wind driven shear cases"
There are still some outstanding issues related to shear cases for the model. For example, here is a comparison for a wind-buoyancy driven case (-5 W/m2 cooling + 0.01 surface wind stress) at 48, 72, and 96 hours (LES = solid lines, ADC = dashed lines).
![Screen Shot 2021-07-13 at 10 06 52 AM](https://user-images.githubusercontent.com/5370137/125506107-6fd31829-411c-4288-b733-d8813032c2c4.png)
The

[2021-07-13 19:00] katsmith133 commented on #22
Additional note:
 - `u` is not only an order of magnitude too small, but also largely confined to the surface for the ADC model:

![Screen Shot 2021-07-13 at 12 58 07 PM](https://user-images.githubusercontent.com/5370137/125509694-d72bbcbe-f699-42c8-9dd9-bc50121dbfba.png)

[2021-07-13 19:16] BrodiePearson commented on #22
Hi Kat, these are really interesting plots and the point you make about uw being ok while U is very poor is intriguing. I will have a think about that and take another look at the code.

- Another thing that surprised me was that the LES reminds me more of an Equator (zero f) case, since uw varies linearly with depth, vw is essentially zero, and u is accelerating uniformly in time creating an entr

[2021-07-13 19:28] katsmith133 commented on #22
@BrodiePearson I had that exact same thought as soon as I posted this and am now seeing if that is the case. Both the ADC model and the LES have f = 1.0e-4 in their input files, but if I run the ADC model with f = 0, then I get a much more appropriate `u` profile that matches the LES better. So even though f was set to 1.0e-4 in the LES input file, somehow that did not actually propagate through i

[2021-07-13 19:57] katsmith133 commented on #22
Closing this issue, as it turns out to not actually be an issue...

[2021-07-13 19:57] #22 closed

[2021-09-16 06:51] amrapallig opened #24 "adc_parameters_optimization"
As other parameters did not show much difference, I checked with CwwE and CwwD for wind-only and cooling-only cases and saw a factor of 10 difference for these values.  Before moving forward, I want to clarify if this due to a significant change of length scale for both convection and shear cases or some other error.

c2, c4, c16 are cooling-only test cases with a heat flux of -100 W/m^2, -200 W/m

[2021-09-16 21:56] amrapallig commented on #24
@BrodiePearson , here are the plots for one cooling and one wind case.
![image](https://user-images.githubusercontent.com/47332195/133688770-09113948-1302-4137-96f0-17bc63141393.png)
![image](https://user-images.githubusercontent.com/47332195/133690700-0813af35-a9cc-4930-9965-fc4b40e9d3a6.png)
![image](https://user-images.githubusercontent.com/47332195/133690847-9312b326-d6ed-45f1-b0e2-d615286b6e3

[2021-09-17 22:29] BrodiePearson commented on #24
@amrapallig Thanks for making these subplots. One thing concerns me:

- The wind case has the same amount of TKE as the LES, but in the wrong components! In the LES this energy is all in the along-wind component, but in the ADC this energy is spread across along-wind, cross-wind, and vertical components.

The increased $\overline{w'w'}$ is probably causing the rapid entrainment that we're seeing i

[2021-09-21 16:29] amrapallig commented on #24
With alpha_1 and alpha_2 set to zero, solutions are unstable even though it runs for 5 days, and with c_slow set to zero, code breaks in a few time steps.
![image](https://user-images.githubusercontent.com/47332195/134209851-c3cd60c7-5b24-49bd-b96d-25058e8f08e1.png)
![image](https://user-images.githubusercontent.com/47332195/134209901-782071a9-0fac-42f0-94c5-deac6906170a.png)

[2021-09-21 21:01] amrapallig commented on #24
24 hr simulation. lest0w2_palm has f=0.28e-4, $\tau=0.02N/m^2$ $Q_h=-5W/m^2$, other two are with 0.175e-4 and $\tau=0.02N/m^2$
![image](https://user-images.githubusercontent.com/47332195/134246281-7ef76e7f-482a-4329-b75c-97d1cf40cc47.png)

[2021-09-21 21:28] amrapallig commented on #24
![image](https://user-images.githubusercontent.com/47332195/134250169-6116cea0-d556-4761-8f5b-43bc9377870f.png)

[2021-09-29 08:06] amrapallig commented on #24
Test of $\alpha_1$ and $\alpha_2$: All cases are with CwwE = 1.0, CwwD = 1.5
case0: $\alpha_1=0.9, \alpha_2=0.5,  \alpha_1/3+\alpha_2=0.8, -2\alpha_1/3=-0.6, \alpha_1/3-\alpha_2=-0.2$
case1: $\alpha_1=0.6, \alpha_2=0.4, \alpha_1/3+\alpha_2=0.6, -2\alpha_1/3=-0.4, \alpha_1/3-\alpha_2=-0.2 $
case2: $\alpha_1=0.6, \alpha_2=0.3, \alpha_1/3+\alpha_2=0.5, -2\alpha_1/3=-0.4, \alpha_1/3-\alpha_2=-0.1 $
ca

[2021-10-05 21:13] amrapallig commented on #24
![image](https://user-images.githubusercontent.com/47332195/136103506-e74b2e50-31e0-4bb7-8ed5-52d2cef4d9ae.png)
![image](https://user-images.githubusercontent.com/47332195/136103568-898a20e9-ef32-46cd-9878-43d6386e5bac.png)

[2021-10-05 21:49] amrapallig commented on #24
@BrodiePearson @katsmith133 @vanroekel

temperature profiles_ (parameters similar to the plot above(red,blue,cyan,magenta))
![image](https://user-images.githubusercontent.com/47332195/136107720-9e059d2b-a587-4bce-a12e-48dbaecc3ce2.png)
uw profiles
![image](https://user-images.githubusercontent.com/47332195/136112690-5cf648d0-9d0f-4e27-9ffc-b7f3a638e156.png)

It seems uw profiles kickback to zero i

[2021-10-19 18:37] amrapallig commented on #24
- According to the above plots, there are two issues: 1)outburst and 2)over-mixing(even before outburst and
  for any parameter sets).
-I turned the constants of namelist files as per Canuto 2007. : alpha_tracer1 = 0.2175, alpha_tracer2 = 0.3625 (alpha3=0.29), Cmom_w3 = 5.0, c_slow =2.5 and c_slow_tracer = 5.936 which helped with the outburst.

- Fixed two bugs in the code (correct me if I am gett

[2021-10-19 20:49] BrodiePearson commented on #24
I _think_ that the original vwtend2 term was correct (the sum of alpha_1 and alpha_2 rather than their difference). This links to the analogous term in uwtend2 a few lines before. The pressure term that uses the difference of these parameters are the ones containing v2 and u2 respectively.

Equations (12) and (19) of Overleaf document state the general formulation of these pressure terms, so if th

[2021-10-19 22:02] amrapallig commented on #24
I was referring to equations 1a and 1b of Canuto 2007. I will check overleaf with the general formulation.

[2022-05-16 20:06] amrapallig opened #26 "Missing Stokes production term in vwtend"
@vanroekel @BrodiePearson

vwtend6 ( Stokes production term) is missing in the summation.
https://github.com/vanroekel/MPAS-Model/blob/1a3f7604cbe3a0c6c4b471a86b875eade2e8bc5b/src/core_ocean/shared/mpas_ocn_adcReconstruct.F#L803-L804

Here is the plot showing the current commit and adding vwtend6 term for the following parameters:

    config_adc_La_t = 0.3
    config_adc_stokes_depth = 4.8
    co

[2022-05-16 21:07] amrapallig opened #27 "Stokes drift in momentum equation"
Estimation of mean velocities (uvel and vvel) needs the Stokes drift term as per the Craik-Leibovich momentum equation.

@BrodiePearson  and I discussed that until MPAS is coupled with the wave, the following changes could serve as a temporary fix.

                 uvel(k,iCell) = uvel(k,iCell) - dt_small*(uw(i1,k,iCell) - uw(i1,k+1,iCell)) /  &
                   (ze(k,iCell) - ze(k+1,iCell)) +

[2022-09-07 00:03] BrodiePearson opened #29 "Typos in sub-plume scale terms"
I think there are a couple of issues in the sub-plume terms in the $\overline{w'w'}$, $\overline{w'T'}$ and $\overline{w'S'}$ budgets, but I first wanted to double check that these are typos rather than me simply missing some other element of the MPAS scheme that makes these formulations correct. Changing these terms doesn't have a significant impact in the convective cases, but it might be import

[2022-09-13 03:26] vanroekel commented on #29
@BrodiePearson any chance you have a latex version of this?  I'm struggling to get mathjax going.

[2022-09-13 03:27] vanroekel commented on #29
my first gut feeling though is that I don't doubt this is wrong, but am pretty doubtful it will matter, even for wind driven cases, but could be wrong for sure

[2022-09-13 03:33] vanroekel commented on #29
@BrodiePearson I got the mathjax to work.  so disregard above.  The one critical assumption we need to verify if the code currently does consider \sigma to be the downwelling plume.  I'm not sure that is true.  I don't know if we actually switched around.  My recollection is we never switched.  Is this something you all can check?

[2022-09-13 22:41] BrodiePearson commented on #29
@vanroekel It looks like it was switched round to be downwelling plume area [in this PR in 2021](https://github.com/vanroekel/MPAS-Model/commit/6067cd4e9d9f9f71e30718b899f829f67bef37ed).

The Lappen and Randall formulation for upwelling plume area is:
![image](https://user-images.githubusercontent.com/43418592/190021285-2089d537-ef3c-483f-bff6-2fa7d90d8409.png)

The ocean ADC code is
https://githu

[2022-09-14 02:21] vanroekel commented on #29
Thanks for checking into it @BrodiePearson, given this I fully agree with your initial comment that these are indeed bugs.  Are you or Amrapalli able to test the fixes?  I'm not sure when Filipe or I can get to them

[2022-09-22 21:51] amrapallig commented on #29
@BrodiePearson and @vanroekel
I checked by fixing the suggested bugs for w2tend5 and wttend6 terms. Here are two plots for convective (upper panel) and wind case (lower panel) for 2days output. It seems the wind case is slightly affected and convection case shows no significant changes. Again wind case still needs tuning.

Few points to note here:

1) For our draft, I had used old commit (287e6035